/* Genel Form Stilleri */
.edit-product {
    background-color: var(--card-background-color);
    padding: 30px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Başlık Stili */
h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Form Grupları */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: #f8f9fa;
    transition: border-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: var(--primary-color);
    outline: none;
}

/* Buton Stili */
.btn-success {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

.btn-success:hover {
    background-color: var(--link-hover-color);
    transform: translateY(-3px);
    color: var(--text-color);
}
