/* Başlık Stili */
.header {
    background-color: var(--card-background-color);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.page-title {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin: 0;
}

/* Buton Stili */
.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    margin: 10px 0;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--link-hover-color);
    transform: translateY(-3px);
    color: var(--text-color);
}

/* Ürün Listesi */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Ürün Kartı Stili */
.product-card {
    background-color: var(--card-background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
    position: relative;
    overflow: hidden;
    border-top: 4px solid var(--primary-color);
}

.product-card:hover {
    transform: scale(1.02);
}

/* Ürün Resmi Stili */
.product-image {
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.product-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

/* Ürün Adı ve Açıklama Stili */
.product-name {
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 0 0 10px;
    font-weight: bold;
}

.product-description {
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-size: 0.95rem;
}

/* Ürün Bilgi Alanları */
.product-card p {
    font-size: 0.95rem;
    color: var(--text-color);
    margin: 5px 0;
    z-index: 1;
}

.no-products {
    text-align: center;
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-top: 30px;
}

/* Mobil Uyumluluk */
@media (max-width: 600px) {
    .btn {
        width: 100%;
        text-align: center;
    }

    .product-list {
        grid-template-columns: 1fr;
    }
}