footer {
    background-color: var(--secondary-color);
    color: white; /* Yazı rengi */
    text-align: center; /* Ortala */
    padding: 10px 0; /* İçerik için boşluk ekle */
}

.footer-content {
    display: flex;
    justify-content: space-between; /* İçerikleri ayır */
    align-items: center; /* Dikey hizala */
    padding: 0 20px; /* İçerik için boşluk ekle */
}

.footer-links ul {
    list-style-type: none; /* Noktaları kaldır */
    padding: 0; /* Padding sıfırla */
    margin: 0; /* Margin sıfırla */
    display: flex; /* Menü elemanlarını yan yana diz */
}

.footer-links li {
    margin: 0 10px; /* Elemanlar arasında boşluk */
}

.footer-links a {
    color: white; /* Bağlantı rengi */
    text-decoration: none; /* Alt çizgiyi kaldır */
}