footer {
    background-color: var(--background-color);
    padding: 20px;
    text-align: center;
    color: var(--text-color);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-links ul li {
    margin: 0 15px;
}

.footer-links ul li a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: var(--link-hover-color);
}

.footer-info p {
    margin: 0;
    font-size: var(--small-font-size);
}
