:root {
    --primary-color: #5A9BD4; /* Ana renk - pastel mavi */
    --secondary-color: #B1B3B3; /* İkincil renk - açık gri */
    --background-color: #F1F3F5; /* Arka plan rengi - çok açık gri */
    --text-color: #212529; /* Yazı rengi - koyu gri */
    --header-background: #343A40; /* Başlık arka plan rengi - koyu gri */
    --link-color: #5A9BD4; /* Bağlantı rengi - pastel mavi */
    --link-hover-color: #4C8CCB; /* Bağlantı hover rengi - daha koyu pastel mavi */
    --success-color: #8FD19E; /* Başarı rengi - pastel yeşil */
    --error-color: #EA6A6A; /* Hata rengi - pastel kırmızı */
    --warning-color: #FFCA57; /* Uyarı rengi - pastel sarı */

    /* Yazı Tipi ve Boyut Değişkenleri */
    --font-family: 'Arial', sans-serif; /* Yazı tipi */
    --font-size: 16px; /* Temel yazı boyutu */
    --header-font-size: 24px; /* Başlık yazı boyutu */
    --small-font-size: 14px; /* Küçük yazı boyutu */
}

/* Genel stil ayarları */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Wrapper ayarları */
.wrapper {
    flex: 1; /* Wrapper alanının esnemesini sağlar */
    padding: 20px; /* İçerik için boşluk ekle */
}
