{% extends "base.html" %}
{% load static %}
{% block title %}make sale{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/sale/make_sale.css' %}">
{% endblock custom_css %}

{% block content %}
<div class="make-sale-container">
    <h2>Ürün Satışı Yap</h2>
    <form method="post" action="{% url 'sales:create_sale' %}">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Stok Miktarı</th>
                    <th>Satış Miktarı</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.sale_price }} TL</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <input type="number" name="quantities" min="0" max="{{ product.quantity }}" placeholder="Miktar" value="0">
                        <input type="hidden" name="products" value="{{ product.id }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Satış Yap</button>
    </form>
</div>
{% endblock content %}
