{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inventoria{% endblock %}</title>
    
    <!-- Genel Stil Dosyaları -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    
    {% block custom_css %}{% endblock custom_css %}
</head>
<body>
    <div class="wrapper">
        <!-- Navbar -->
        {% include "navbar.html" %}
        
        <!-- Ana İçerik -->
        <main>
            <div class="content-container">
                {% block content %}
                <!-- Sayfaya özgü içerikler buraya gelecek -->
                {% endblock %}
            </div>
        </main>
    </div>
    
    <!-- Footer -->
    {% include "footer.html" %}

    <!-- Grafik ve Genel JS Dosyaları -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
    {% block custom_script %}{% endblock custom_script %}
</body>
</html>
