<header class="nav-head">
    <nav class="navbar">
        <div class="navbar-container"> <!-- "container" sınıfı "navbar-container" olarak değiştirildi -->
            <a href="{% url 'inventory:index' %}" class="logo">Inventoria</a>
            <div class="menu-toggle" id="menu-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul id="nav-list" class="nav-list">
                <li><a href="{% url 'inventory:index' %}">Anasayfa</a></li>
                <li><a href="{% url 'inventory:product' %}">Ürünler</a></li>
                <li><a href="{% url 'category:list' %}">Kategoriler</a></li>
                <li><a href="{% url 'sales:sale_list' %}">Satışlar</a></li>
                <li><a href="{% url 'analysis:user_analysis' %}">Analiz</a></li>
                {% if user.is_authenticated %}
                    <li class="auth-links">
                        <span>Hoş geldin, {{ user.username }}!</span>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">Çıkış Yap</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Giriş Yap</a></li>
                    <li><a href="{% url 'users:register' %}">Kayıt Ol</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
