{% extends 'base.html' %}
{% load static %}
{% block title %}Kategori Detay{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/category/category_detail.css' %}">
{% endblock custom_css %}

{% block content %}
<div class="category-detail-container">
    {% if category %}
        <h2>Kategori Detayı</h2>
        <p><strong>Kategori Adı:</strong> {{ category.name }}</p>
        <p><strong>Açıklama:</strong> {{ category.description }}</p>

        <div class="button-group">
            <a href="{% url 'category:update' category.id %}" class="btn btn-warning">Düzenle</a>
            <form method="post" action="{% url 'category:delete' category.id %}" class="category-view">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Ürünü Sil</button>
            </form>
        </div>
    {% else %}
        <p class="not-found">Kategori bulunamadı</p>
    {% endif %}
</div>
{% endblock content %}
